* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.backSide {
  width: 55%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(26, 25, 25);
}
.header {
  display: flex;
  height: 15vh;
  max-width: 97%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(83, 115, 211);
  color: whitesmoke;
}

.header h1 {
  text-align: right;
  padding-top: 25px;
  margin-right: 70px;
  width: 60%;
}

.header button {
  height: 23px;
  width: 23px;
  background-color: rgb(83, 115, 211);
  border: 1px solid whitesmoke;
  color: whitesmoke;
  border-radius: 100px;
  margin-top: 35px;
}
.middle input {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  margin-left: 200px;
  margin-top: 15px;
}
.data {
  height: 15vh;
  max-width: 97%;
  margin: auto;
  background-color: whitesmoke;
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
}
.left {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-top: 30px;
}
.right {
  display: flex;
  max-width: 20%;
  margin: auto;
  text-align: right;
  gap: 30px;
  margin-top: 30px;
  text-align: center;
}
.table {
  height: 50px;
  width: 200px;
  position: absolute;
  left: 800px;
  top: 250px;
  color: whitesmoke;
  background-color: rgb(83, 115, 211);
}
.table thead tr th {
  border: 1px solid black;
  height: 40px;
}
.table tbody tr td {
  border: 1px solid black;
  height: 40px;
}
.editForm {
  position: absolute;
  left: 780px;
  top: 200px;
  height: 250px;
  width: 250px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(83, 115, 211);
}
.editForm input {
  height: 25px;
  width: 200px;
  border-radius: 5px;
}
.editForm button {
  height: 25px;
  width: 100px;
  border-radius: 5px;
}
